#gs_title {
    margin: 20px 0 0 0;
    text-align: center;
}

#gs_auth_message {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 10px;
    margin: 10px 0;
    color: #a00000;
    background-color: rgba(255, 35, 0, 0.05);
    text-align: center;
}

#gs_description {
    margin: 20px 0;
    text-align: justify;
    font-size: 11px;
}

#gs_login_section {
    margin: 0;
    text-align: center;
}

#gs_upload_section {
    margin: 0;
    font-size: 11px;
}

#gs_upload_prompt {
    font-size: 12px;
    border-bottom: 1px solid #bdd7d7;
    padding: 0 0 5px;
}

#gs_files {
    margin: 5px 5px;
}
#gs_auth_username {
    font-weight: bold;
}

#gs_progress_status {
    padding: 0 10px;
    float: left;
    font-size: 11px;
    color: grey;
}

#gs_warning {
    background: #fffec9 url(../images/_old_/silk_warn.gif) no-repeat scroll 10px 50%;
    font-style: italic;
    padding: 5px 0 5px 35px;
    line-height: 1.5em;
}

#gs_upload_button {
    border-top: 1px solid #bdd7d7;
    padding: 5px 0 0 0;
    margin: 5px 0 0 0;
    height: 28px;

}

#gs_upload_form {
    float: right;
}

.file_div {
    position: relative;
}

.file_div label {
    width: auto;
    margin: 0 10px;
}

.file_progress {
    position: absolute;
    top: 0;
    _top: 3px;
    right: 3px;
    _right: 24px;
    height: 16px;
    width: 16px;
    margin: 0 0 0 0;
}

#gs_upload_submit {
    font-size: 11px;
}

.in_progress {
    background: url(../images/busy.gif) 0 0 no-repeat;
}

.ok {
    background: url(../images/_old_/basic_tick.gif) 0 0 no-repeat;
}

.failed {
    background: url(../images/_old_/basic_x.gif) 0 0 no-repeat;
}
