#gs_title {
    margin: 20px 0 0 0;
    text-align: center;
}

#gs_description {
    margin: 20px 0;
    text-align: justify;
    font-size: 11px;
}

#gs_login_section {
    margin: 0;
}

#gs_upload_section {
    margin: 0;
    font-size: 11px;
}

#gs_upload_prompt {
    font-size: 12px;
    border-bottom: 1px solid #bdd7d7;
    padding: 0 0 5px;
}

#gs_files {
    margin: 5px 5px;
}
#gs_auth_username {
    font-weight: bold;
}

#gs_progress_status {
    padding: 0 10px;
    float: left;
    font-size: 11px;
    color: grey;
}

#gs_warning {
    background: #fffec9 url(../images/silk_warn.gif) no-repeat scroll 10px 50%;
    font-style: italic;
    padding: 5px 0 5px 35px;
    line-height: 1.5em;
}

#gs_upload_button {
    border-top: 1px solid #bdd7d7;
    padding: 5px 0 0 0;

}

#gs_upload_form {
    float: right;
}

.file_dev {
    height: 16px;
}

.file_div label {
    width: 100px;
    margin: 0 10px;
}

.file_progress {
    float: right;
    height: 16px;
    width: 16px;
    margin: 0 5px 0 0;
}

.in_progress {
    background: url(../images/busy.gif) 0 0 no-repeat;
}

.ok {
    background: url(../images/basic_tick.gif) 0 0 no-repeat;
}

.failed {
    background: url(../images/basic_x.gif) 0 0 no-repeat;
}
