/*
    Platform designs browsing/detailed view
*/

td.col_atlas {
    border-right: 0 none;
}

.col_accession {
    width: 150px;
    text-align: left;
    white-space: nowrap;
}

.col_name {
    text-align: left;
}

.col_species {
    width: 160px;
    text-align: left;
}

.col_files {
    width: 120px;
    text-align: center;
}