body.aepub1 {
	background: #e6fff6 url(../images/aepub1.gif) no-repeat fixed 0 97%;
}

body.ae2_perftest {
	background: #ffffdb url(../images/ae2_peftest.gif) no-repeat fixed 0 97%;
}

body.ae2_curator {
	background: #ffe6f5 url(../images/ae2_curator.gif) no-repeat fixed 0 97%;
}

#ae_contents_container {
    font-size: 11px;
}

#ae_intro_area .lite_form_top_right {
    padding: 8px 0;
}

#ae_intro_area .lite_form_inner {
    margin: 0 10px;
    padding: 0;
}

#ae_header {
    font-size: 21px;
    font-weight: bold;
}

#ae_logo {
    float: right;
    margin: 0 0 5px 5px;
}

#ae_intro_text div {
    font-size: 11px;
    margin: 5px 0 1px 0;
    text-align: justify;
}

/* ae query area */
#ae_query_area {
    position: relative;
    margin: 15px 0;
    height: 200px;
}

#ae_query_area .form_top_right {
    padding: 8px 0;
}

#ae_query_area .form_inner {
    height: 184px;
    margin: 0 10px;
    padding: 0;
}

#aer_query_form,
#atlas_query_form {
    margin: 25px 0 10px 0;
}

#aer_query_form input,
#atlas_query_form input,
#atlas_query_form select {
    margin-top: 3px;
    margin-bottom: 8px;
    font-size: 11px;
}

#ae_query_area fieldset {
    border: 0 none;
    padding: 0;
}

#aer_query_field {
    width: 100%;
    border: 1px solid #5e9e9e;
    font-size: 11px;
}
#aer_browse_link {
    float: left;
}

#aer_adv_query_link {
    float: right;
}

#aer_browse_link,
#aer_adv_query_link {
    margin: 2px 10px 0 0;
}

#aer_login_link,
#aer_login_info,
#aer_help_link {
    position: absolute;
    bottom: 8px;
}

#aer_login_link,
#aer_login_info {
    left: 10px;
}

#aer_help_link {
    right: 10px;
    text-align: right;
}

#aer_adv_query_link img,
#aer_browse_link img,
#aer_login_link img,
#aer_login_info img,
#aer_help_link img {
    vertical-align: text-bottom;
    margin: 0 2px 0 0;
}

#aer_login_box {
    display: none;
    position: absolute;
    bottom: 8px;
    left: 5px;
    height: 130px;
    width: 420px;
}

#aer_login_title {
    margin: 0 0 15px 0;    
}

.login_inner {
    height: 100%;
    _height: 108px;
    padding: 5px 8px;
    position: relative;
}

#aer_login_user_fset {
    width: 50%;
    margin: 0 5px 0 0;
    float: left;
}

#aer_login_pass_fset {
    margin: 0;
}

#aer_login_form label {
    font-size: 11px;
}

#aer_user_field,
#aer_pass_field {
    border: 1px solid #5e9e9e;
    width: 100%;
    font-size: 11px;
    margin: 3px 0 8px 0;
}

#aer_login_status {
    position: absolute;
    left: 8px;
    bottom: 3px;
    margin: 0;
    color: red;
}

#aer_login_info {
    display: none;
}

#aer_query_submit,
#aer_login_submit {
    float: right;
    font-size: 11px;
}

/*** Atlas box ***/
#atlas_gene_fset {
    width: 35%;
    margin: 0 5px 0 0;
    float: left;
}

#atlas_updn_fset {
    width: 25%;
    margin: 0 5px 0 0;
    float: left;
}

#atlas_updn_fset label {
    width: 100%;
}

#atlas_updn_fset select {
    margin-bottom: 0;
}

#atlas_exps_fset {
    margin: 0;
}

#atlas_species_fset {
    clear: none;
    width: 61%;
    margin: 0;
}

#atlas_query_field,
#atlas_experiments_field {
    width: 100%;
    border: 1px solid #5e9e9e;
    font-size: 11px;
}

#atlas_updn_field,
#atlas_species_field {
    width: 100%;
    font-size: 11px;
}

#atlas_query_submit {
    float: right;
    font-size: 11px;
}

#aer_feed_link {
    float: right;
}

#aer_feed_link img {
    border: 0 none;
    margin: 2px 0 0 0;
}

/* ae news links area */
#ae_news_links_area {
    position: relative;
    height: 190px;
    margin: 0;
}

#ae_news_links_area p {
    font-size: 11px;
}

#ae_news_links_area .lite_form_top_right {
    padding: 5px 0;
}

#ae_news_links_area .lite_form_inner {
    height: 180px;
    margin: 0 10px;
    padding: 0;
}

/* common two box layout classes */
.ae_left_box {
    position: absolute;
    width: 430px;
    left: 0;
    top: 0;
}

.ae_right_box {
    position: absolute;
    width: 430px;
    right: 0;
    top: 0;
}

.ae_box_title {
    font-size: 12px;
    font-weight: bold;
    height: 20px;
}
