body {
    overflow-y: hidden;
}

#ae_contents {
    position: absolute;
    top: 57px;
    bottom: 22px;
    left: 0;
    width: 100%;
    overflow: auto;
}

.ae_left_container_100pc {
    width: 100%;
    min-width: 950px;
    text-align: left;
    margin: 0;
    font-size: 12px;
    line-height: 1.2em;
    overflow-x: hidden;
    overflow-y: auto;
    _height: expression(document.body.clientHeight-79);
}

#ae_content {
    margin: 20px;
}
/* login box */
#ae_login_box {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #eef5f5;
    border: 1px solid #5e9e9e;
    padding: 5px 10px 10px;
    width: 400px;
}

#ae_login_title {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #005555;
}

#ae_login_form fieldset {
    border: 0 none;
    padding: 0;
}

#ae_login_user_fset {
    width: 50%;
    margin: 0 5px 0 0;
    float: left;
}

#ae_login_pass_fset {
    margin: 0;
}

#ae_login_form label {
    font-size: 11px;
}

#ae_user_field,
#ae_pass_field {
    border: 1px solid #5e9e9e;
    width: 100%;
    font-size: 11px;
    margin: 3px 0 8px 0;
}
#ae_login_submit {
    float: right;
    font-size: 11px;
}

#ae_login_status {
    margin: 5px 0 0;
    color: red;
}

/* query box */
#ae_query_box {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #eef5f5;
    border: 1px solid #5e9e9e;
    padding: 5px 10px 10px;
    width: 100%;
}

#ae_keywords_fset {
    margin: 0 5px 0 0;
    padding: 0;
    border: 0 none;
    width: 100%;
}

#ae_keywords_fset label {
    font-size: 11px;
}

#ae_keywords_field {
    border: 1px solid #5e9e9e;
    width: 100%;
    font-size: 11px;
    margin: 3px 0 8px 0;
    float: left;
}

#ae_submit_box {
    width: 100%;
    margin: 0 0 0 auto;
    text-align: right;
}

#ae_query_submit {
    font-size: 11px;
}

#ae_results_header {
    font-style: italic;
    padding: 15px 0 10px;
}

#ae_print_controls {
    font-style: normal;
    padding: 0 0 0 10px;
}

#ae_print_controls img {
    vertical-align: text-bottom;
    margin: 0 2px 0 0;
}

#ae_results_table {
    table-layout: fixed;
    width: 100%;
}

#ae_results_table th,
#ae_results_table td {
    font-size: 9pt;
    padding: 3px;
}

#ae_results_table th {
    font-weight: bold;
    border-bottom: 1px solid #408c8c;
    vertical-align: bottom;
    white-space: nowrap;
}
#ae_results_table th img {
    margin: 0 0 0 2px;
    vertical-align: bottom;
}

#ae_results_table td {
    font-weight: normal;
    vertical-align: top;
}

#ae_results_table td img {
    margin: 0 2px;
    vertical-align: baseline;
}

td {
    border-bottom: 1px solid #bdd7d7;
}

.col_id {
    width: 20%;
    text-align: left;
    white-space: nowrap;
}

.col_name {
    width: 40%;
    text-align: left;
}

.col_email {
    width: 40%;
    text-align: left;
}
