

.ae-help_mainboxleft {
  float: left;
  max-width: 900px;
  background-color: #f7f7f7;
  margin-bottom: 1rem;
  padding: 1rem;
}

.ae-help_mainboxleft-hide {
  display: none;
  float: left;
  max-width: 900px;
  background-color: #f7f7f7;
  margin-bottom: 1rem;
  padding: 1rem;
}


.ae-help_checklist {
  list-style: url("../../images/help/check.png");
}
